<nav>
    <div class="site-title">
        <h1><a href="/">NodeJS Blog</a></h1>
        <p>Blogs for nodejs devs.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create</a></li>
    </ul>
</nav>