<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")%>
</head>
<body>
    
    <nav>
        <div class="site-title">
            <a href="/">NodeJS Blog</a>
            <p>Blogs for nodejs devs.</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create</a></li>
        </ul>
    </nav>

    <div class="not-found content">
       <h3>OOPS!PAGE NOT FOUND! ERROR 404!</h3>
    </div>
    <%- include("./partials/footer")%>
</body>
</html>