<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Blogs</title>
</head>
<body>
    
    <nav>
        <div class="site-title">
            <a href="/">NodeJS Blog</a>
            <p>Blogs for nodejs devs.</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, saepe soluta vero repellat qui debitis ducimus, labore doloribus maiores similique, eum cum distinctio incidunt nobis sunt facere pariatur. Illo sapiente accusamus dolorem! Unde natus ullam obcaecati esse. Nostrum, voluptatibus sint! Dolor voluptates enim ullam eum sed numquam debitis maxime necessitatibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem a temporibus maxime, iste eius necessitatibus sed neque dignissimos sapiente voluptatem ipsa nemo quidem consequatur vel tenetur odio praesentium expedita doloribus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit distinctio veritatis omnis fuga similique veniam repudiandae dolores consequuntur quis non, id possimus, hic assumenda corporis, corrupti dolorem iste accusantium voluptatum. Ipsam quia dolorum deleniti numquam ab, sunt, adipisci neque vel architecto, iste rerum fugiat molestiae. Recusandae voluptates, necessitatibus aperiam sit perspiciatis quod voluptas possimus nesciunt, assumenda ullam non! Perspiciatis, incidunt. Pariatur fugit recusandae quae aliquam explicabo impedit est possimus unde iure animi. Tempora animi inventore rerum aspernatur ullam asperiores exercitationem.</p>
    </div>

</body>
</html>